
html,
body{
    padding: 0;
    margin: 0;
    background-color: darkgray;
}



/*Top and Side Nav Bar */
 ul {

    list-style-type: none;
    margin: 0;
    padding: 0;
}


nav li a{
    
    list-style-type: none;
    display: inline-flex;
    color: #818181;
    text-align: center; 
    font-size: 20px;
}
/* remove underline in bar*/
nav li a:link {
    text-decoration: none;
   
}

/* Hover effect*/

nav li a:hover{
    color: #f1f1f1;
}

/* Top Nav Bar */

.Topbar li{
    float: right;
    padding: 14px 16px;
}

.Topbar {
    background-color: #111;
    overflow: hidden;
}


/*Side Bar */

.sidebar {
height: 100%;
width: 85px;
position: fixed;
z-index: 1;
top: 0;
left: 0;
padding: 8px 8px 8px 45px;
background-color: #111;
overflow-x: hidden;
transition: 0.5s;
padding-top: 80px;
white-space: nowrap;
}

ul li ul.dropdown{
        min-width: 100%; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: relative;
        z-index: 999;
        left: 0;
}

ul li:hover ul.dropdown{
    display: inherit;
    background: #111;
    text-align: center;
}


    
#main {
transition: margin-left .5s;
padding: 16px;
margin-left: 100px;
}

.material-icons,
.icon-text {
    vertical-align: middle;
}

.material-icons {
    padding-bottom: 20px;
    margin-right: 30px;
}
    
/* Table */

    
* {
     box-sizing: border-box;
 }
    
    table{
        display: grid;
        border-collapse: collapse
        min-width: 100%;
        grid-template-columns: 
            minmax(150px, 1fr)
            minmax(150px, 1.67fr)
            minmax(150px, 1.67fr)
            minmax(150px, 1.67fr)
            minmax(150px, 3.33fr)
            minmax(150px, 1.67fr)
            minmax(150px, 3.33fr)
    }
    
thead,
tbody,
tr {
  display: contents;
}

th,
td {
  padding: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  position: sticky;
  top: 0;
  background: #6c7ae0;
  text-align: left;
  font-weight: normal;
  font-size: 1.1rem;
  color: white;
}

th:last-child {
  border: 0;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #808080;
}

tr:nth-child(odd) td {
  background: #ffffff;
}


tr:nth-child(even) td {
  background: #f8f6ff;
}

/*Admin Resource and Widget*/

.column {
    float:left;
    padding:10px;
}

.left{
    width: 50%;
}

.right{
    width: 25%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}



/* Admin Page info*/

html, body, .grid-container { height: 100%; margin: 0; }

.grid-container.adminMain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "Monthly-Projection-graph Monthly-Projection-graph Other-production-widget Calendar-and-recent-updates"
    "Monthly-Projection-graph Monthly-Projection-graph Other-production-widget Calendar-and-recent-updates"
    "Users-projects-and-task Users-projects-and-task Users-projects-and-task Calendar-and-recent-updates"
    "Users-projects-and-task Users-projects-and-task Users-projects-and-task Calendar-and-recent-updates";
}

.Calendar-and-recent-updates { grid-area: Calendar-and-recent-updates; }

.Monthly-Projection-graph { grid-area: Monthly-Projection-graph; }

.Users-projects-and-task { grid-area: Users-projects-and-task; }

.Other-production-widget { grid-area: Other-production-widget; }


/* For presentation only, no need to copy the code below */
.grid-container * {
  border: 1px solid red;
  position: relative;
}

.grid-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
}

/* Admin Users Control */


.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px 10px;
  grid-template-areas:
    "User-info Photo Photo"
    "User-info Rest-Password-and-group-management Rest-Password-and-group-management";
}

.User-info { grid-area: User-info; }

.Photo { grid-area: Photo; }

.Rest-Password-and-group-management { grid-area: Rest-Password-and-group-management; }


/* For presentation only, no need to copy the code below */
.grid-container * {
  border: 1px solid red;
  position: relative;
}

.grid-container *:after {
  content:attr(class);
  position: absolute;
  top: 0;
  left: 0;
}

